{% if config.extra.giscus.repo %}
<div class="giscus mt-12"></div>
<script src="https://giscus.app/client.js"
  data-repo="chchwy/chchwy.github.io"
  data-repo-id="MDEwOlJlcG9zaXRvcnk1MjQ0MDkzNg=="
  data-category="Announcements"
  data-category-id="DIC_kwDOAyAvaM4Cglg7"
  data-mapping="pathname"
  data-strict="0"
  data-reactions-enabled="1"
  data-emit-metadata="0"
  data-input-position="top"
  data-theme="preferred_color_scheme"
  data-lang="zh-TW"
  data-loading="lazy"
  crossorigin="anonymous"
  async>
</script>
{% endif %}<!---->
