/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box;
}

ol, ul {
	list-style: none;
}

body {
  /*background: linear-gradient(120deg, #f0efee, #efeee6, #edeceb, #ebded7);*/
  background-color: #fff;
  color: #484842;
  font-family: 'Microsoft Jhenghei';
}

.container {
  margin: 0 auto;
  width: 800px;
}

.site-name {display: inline-block;}
.site-name h1 { font-size: 1.4rem; margin: 0.5em 0; }
.site-name a {text-decoration: none;}
.site-name a:visited {color: #222;}

#header { background-color: #fff; border-top: 5px solid #333; border-bottom: 1px solid #ddd; margin-bottom: 2em; }
#nav { float: right; }
#nav {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav li {
  display: inline-block;
  margin: 17px 15px;
  font-size: 14px;
}
#nav a {
  text-decoration: none;
  color: #444;
}
#nav a:visited { color: #444; }

.post-list li {
  line-height: 1.7em;
}
.post-list a {
  text-decoration: none;
  color: #643;
}
.post-list time {
  color: #999;
  font-family: 'Courier New', Courier, Consolas, monospace;
  margin-right: 1em;
}

.copyright {
  color: #ccc;
  margin: 1em 0;
}
