<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <title>調和的靈感</title>

    <link rel="stylesheet" type="text/css" href="/neat.css">
    <link rel="stylesheet" type="text/css" href="/custom.css">
    <link rel="alternate" type="application/atom+xml" title="RSS" href="{{ get_url(path="atom.xml") | safe }}">
    
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <a class="home" href="/">&nwarr;</a>
    <nav>
        <h1>調和的靈感</h1>
        <div style="margin-left: auto;">
            <ul>
                <li><a href="/about">About</a></li>
                <li><a href="/blog">Archive</a></li>
            </ul>
        </div>
        
    </nav>
    <hr>
    <!--
    <ol class="twocol">
        <li><a href="#about">About</a></li>
        <li><a href="#start">Archive</a></li>
    </ol>
    -->
    {% block content %} {% endblock %}

    <footer id="site-footer">© 2023 Matt Chang · CC BY-NC 4.0</footer>
</body>
</html>