{% extends "base.html" %}

{% block content %}
我是 Matt (aka chchwy)，軟體工程師，歡迎來到我部落格。這裡記錄著我的思考、讀書心得和技術筆記。

{% set section = get_section(path="blog/_index.md") %}

<br><br>
<h2>近期文章</h2>

{% for page in section.pages %}
{% if loop.index0 == 1 %}{% break %}{% endif %}

<!--x
<article>
    <h4 class="title">
        <a href="{{ page.permalink }}">{{ page.title }}</a>
    </h3>
    <p style="color:#777">
    {% if page.extra.summary %}
    {{ page.extra.summary | safe | striptags }}
    {% else %}
    {{ page.content | safe | striptags | truncate(length=100) }}
    {% endif %}
    </p>
</article>
{% endfor %}
-->

<ul class="homepage-list">
{% for post in section.pages %}
  {% if loop.index0 == 5 %}{% break %}{% endif %}
  <li>
    <a href="{{ post.permalink | safe }}">{{ post.title }}</a>
    <time style="font-size:90%;color:#999;" datetime="{{ post.date | date(format="%+") }}">{{ post.date | date(format="%d %B %Y") }}</time>
  </li>
{% endfor %}
  <li><a href="/blog/">更多文章...</a></li>
</ul>


{% endblock content %}